<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/formatting.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


</head>
<body>

<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Project IO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/roles/}">Roles</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/bug/}">Bugs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/activity/}">Activity</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/platforms/}">Platforms</a>
            </li>

        </ul>
    </div>
</nav>
<h1>LIST BUGS PAGE</h1>

<div class="container">
    <hr>

    <!--  Add New Bug Button -->
    <a th:href="@{/bug/new}"
       class="btn btn-primary btn-sm mb-3"> 
        Add Bug 
    </a> 
    <br></br>

    <table class="table table-bordered table-striped " >
        <thead class="thead-dark" >
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Complaint</th>
            <th>Report Date</th>
            <th>Platforms</th>
            <th>Stage</th>
            <th>Severity</th>
            <th>Last Update</th>
            <th>Enabled</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="aBug : ${pendingApprovals}">

            <td th:text="${aBug.bugId}"></td>
            <td>
            <a th:text="${aBug.label}"
               th:href="@{/bug/activityonbug/{id}(id=${aBug.bugId})}">
            </a>


            </td>

            <td th:text="${aBug.bugReview}" ></td>
            <td th:text="${aBug.reportDate}"></td>
            <td th:text="${aBug.platformses}"></td>
            <td th:text="${aBug.bugTreatmentStage}"></td>
            <td th:text="${aBug.progressStatus}"></td>
            <td th:text="${aBug.severity}"></td>
            <td th:text="${aBug.lastUpdate}"></td>
            <td th:text="${aBug.userAssignedToBug}"></td>

            <td>
                <a class="fas fa-check-circle fa-2x icon-green"
                   th:href="@{'/bug/' + ${aBug.bugId}+ '/approved/true'}"
                   th:if="${aBug.assigned==false}"
                   title="Disapprove this request"></a>

                <a class="fas fa-check-circle fa-2x icon-dark"
                   th:href="@{'/bug/' + ${aBug.bugId}+ '/approved/false'}"
                   th:if="${aBug.assigned==true}"
                   title="Approve this request"></a>
            </td>

            <td>
                <a class="fas fa-edit fa-2x icon-green"
                   th:href="@{/bug/reassignmentform/{id}(id=${aBug.bugId})}"
                   title="Edit this bug"></a>
            </td>


<!--            <td>-->
<!--                <a th:href="@{/bug/edit/{id}(id=${aBug.bugId})}" class="btn btn-primary">-->
<!--                    Update-->
<!--                </a>-->

<!--                <a th:href="@{/bug/delete/{id}(id=${aBug.bugId})}" class="btn btn-danger">-->
<!--                    Delete-->
<!--                </a>-->
<!--            </td>-->



        </tr>
        </tbody>




    </table>

    <div th:if="${totalPages > 1}">
        Total Items: [[${totalItems}]]
        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/bug/page/1'}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage > 1}" th:href="@{'/bug/page/' + ${currentPage - 1}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>

        &nbsp;&nbsp;

        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="@{'/bug/page/'+ ${i}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
    </span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/bug/page/' + ${currentPage + 1}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;&nbsp;

        <a th:if="${currentPage < totalPages}" th:href="@{'/bug/page/' + ${totalPages}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>

    </div>
</div>



</body>
</html>